
html, body {
    width: 100%;
    height: 100%;
}

.top-header {
    padding: 10px;
}

.header-wrap hr {
    margin-top: 10px;
}

.footer-wrap, .header-wrap {
    width: 100%;
}

.footer-wrap {
    position: absolute;
    bottom: 0;
    width: 980px;
    margin: auto;
}

.wrapper {
    width: 980px;
    margin: 0 auto;
}
