<!DOCTYPE html>
<html ng-app="appLog" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="Parallax backgrounds with centered content"/>
    <title>Деловые визитки начальная страница</title>
    <th:block th:if="${T(ru.megazlo.flea.utils.GlobalUtil).isDebug()}">
        <link th:href="@{/css/st/bootstrapLog.css}" rel="stylesheet"/>
        <link th:href="@{/css/st/parallax.css}" rel="stylesheet"/>
        <link th:href="@{/css/st/loading-bar.css}" rel="stylesheet"/>
        <link th:href="@{/css/loginInit.css}" rel="stylesheet"/>
    </th:block>
    <th:block th:unless="${T(ru.megazlo.flea.utils.GlobalUtil).isDebug()}">

    </th:block>
</head>
<body>
<div class="fullscreen background parallax" style="background-image:url('/img/parallax/slide1_raw.jpg');" data-img-width="1920"
     data-img-height="1080" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            Пиписька, необходимо авторизоваться в <span th:text="#{application.name}"></span>
            <a ui-sref="user_login">Sign In</a>
            <a href="/login/facebook">facebook</a>
            <div class="loginFormContainer" ui-view='logreg' ng-controller="UserController as ctrl">
            </div>
        </div>
    </div>
</div>

<div class="not-fullscreen background parallax" style="background-image:url('/img/parallax/slide2_2_raw.jpg');" data-img-width="1920"
     data-img-height="1080" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            Здесь должны быть информационные блоки
        </div>
    </div>
</div>

<section class="not-fullscreen background parallax" style="background-image:url('/img/parallax/slide5_raw.jpg');" data-img-width="1920"
         data-img-height="1080" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            И тута тоже должны бытьблоки
        </div>
    </div>
</section>

<div class="fullscreen background parallax" style="background-image:url('/img/parallax/slide4_raw.jpg');" data-img-width="1920"
     data-img-height="1080" data-diff="100" data-oriz-pos="100%">
    <div class="content-a">
        <div class="content-b">
            Ты сюда мышкой крутить пришел или любоваться?
        </div>
    </div>
</div>

<div id="notifyStack">
    <div class="toast-item alert fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <div class="toast-icon"></div>
        <div class="toast-list">
            <span class="toast-message">Проверка работы toast service 1</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="toast-item warn alert fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <div class="toast-icon"></div>
        <div class="toast-list">
            <span class="toast-message"> Проверка работы toast service 2 <br> С предупреждением </span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="toast-item err alert fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <div class="toast-icon"></div>
        <div class="toast-list">
            <span class="toast-message"> Проверка работы toast service 3 <br> С ошибкой </span>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<th:block th:if="${T(ru.megazlo.flea.utils.GlobalUtil).isDebug()}">
    <script type="text/javascript" th:src="@{/js/jquery-2.2.3.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/angular.js}"></script>
    <script type="text/javascript" th:src="@{/js/angular-ui-router.js}"></script>
    <script type="text/javascript" th:src="@{/js/angular-animate.js}"></script>
    <script type="text/javascript" th:src="@{/js/loading-bar.js}"></script>
    <script type="text/javascript" th:src="@{/appjs/appLog.js}"></script>
    <script type="text/javascript" th:src="@{/appjs/user_controller.js}"></script>
    <script type="text/javascript" th:src="@{/appjs/LoginController.js}"></script>
    <script type="text/javascript" th:src="@{/appjs/user_service.js}"></script>
    <script type="text/javascript" th:src="@{/appjs/route-login.js}"></script>
    <script type="text/javascript" th:src="@{/js/parallax.js}"></script>
</th:block>
<th:block th:unless="${T(ru.megazlo.flea.utils.GlobalUtil).isDebug()}">
    <script type="text/javascript" th:src="@{/js/static.min.js?b=${buildNumber}}"></script>
    <script type="text/javascript" th:src="@{/js/app_login.min.js?b=${buildNumber}}"></script>
</th:block>

</body>
</html>
