<div class="header-wrap" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div>
        <div class="pull-left"></div>
        <div class="pull-right">
            <th:block sec:authorize="isAuthenticated()">
                авторизован
            </th:block>
            <th:block sec:authorize="isAnonymous()">
                <a href="#">Вход</a> / <a href="#">Регистрация</a>
            </th:block>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr>

    <div class="panel panel-primary" style="padding: 3px">
        <form class="form-horizontal">
            <div class="input-group">
                <select id="categorySelId" class="selectpicker" data-width="220px" title="">
                    <option>Любая категория</option>
                </select>
                <input type="text" placeholder="" class="form-control"/>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button">Поехали!</button>
                </div>
            </div>
        </form>
    </div>

</div>